/build
/cect.egg-info
__pycache__
/site/
/blacken.sh
/cect/.DS_Store
/.DS_Store
/cect/data/~$*
/pdfs/*.pdf
/cect/hive.json
/docs/assets/Cook*
/docs/assets/Varshney*
/docs/assets/White*
/docs/assets/Witvliet*
/docs/assets/SSData*
/docs/assets/UpdSSData*
/docs/assets/Bentley*
/docs/assets/Randi*
/docs/assets/WormNeuro*
