/build
/cect.egg-info
__pycache__
/site/
/blacken.sh
/cect/.DS_Store
/.DS_Store
/cect/data/~$*
/pdfs/*.pdf
/cect/hive.json
/docs/assets/Cook*
/docs/assets/Varshney*
/docs/assets/White*
/docs/assets/Witvliet*
/docs/assets/SSData*
/docs/assets/UpdSSData*
/docs/assets/Bentley*
/docs/assets/Randi*
/docs/assets/WormNeuro*

/docs/*Cook*data*.md
/docs/*Varshney*data*.md
/docs/*White*data*.md
/docs/*Witvliet*data*.md
/docs/*SSData*data*.md
/docs/*UpdSSData*data*.md
/docs/*Bentley*data*.md
/docs/*Randi*data*.md
/docs/*WormNeuro*data*.md
/docs/*Ripo*data*.md

/docs/.DS_Store
/docs/assets/RipollSanchez*
/docs/Escape_*data_*.md
/docs/Escape_*_data.md
/docs/Colors.html
/docs/ADAL.md
/docs/ADAR.md
/docs/ADEL.md
/docs/ADER.md
/docs/ADFL.md
/docs/ADFR.md
/docs/ADLL.md
/docs/ADLR.md
/docs/AFDL.md
/docs/AFDR.md
/docs/AIAL.md
/docs/AIAR.md
/docs/AIBL.md
/docs/AIBR.md
/docs/AIML.md
/docs/AIMR.md
/docs/AINL.md
/docs/AINR.md
/docs/AIYL.md
/docs/AIYR.md
/docs/AIZL.md
/docs/AIZR.md
/docs/ALA.md
/docs/ALML.md
/docs/ALMR.md
/docs/ALNL.md
/docs/ALNR.md
/docs/AQR.md
/docs/AS1.md
/docs/AS10.md
/docs/AS11.md
/docs/AS2.md
/docs/AS3.md
/docs/AS4.md
/docs/AS5.md
/docs/AS6.md
/docs/AS7.md
/docs/AS8.md
/docs/AS9.md
/docs/ASEL.md
/docs/ASER.md
/docs/ASGL.md
/docs/ASGR.md
/docs/ASHL.md
/docs/ASHR.md
/docs/ASIL.md
/docs/ASIR.md
/docs/ASJL.md
/docs/ASJR.md
/docs/ASKL.md
/docs/ASKR.md
/docs/AUAL.md
/docs/AUAR.md
/docs/AVAL.md
/docs/AVAR.md
/docs/AVBL.md
/docs/AVBR.md
/docs/AVDL.md
/docs/AVDR.md
/docs/AVEL.md
/docs/AVER.md
/docs/AVFL.md
/docs/AVFR.md
/docs/AVG.md
/docs/AVHL.md
/docs/AVHR.md
/docs/AVJL.md
/docs/AVJR.md
/docs/AVKL.md
/docs/AVKR.md
/docs/AVL.md
/docs/AVM.md
/docs/AWAL.md
/docs/AWAR.md
/docs/AWBL.md
/docs/AWBR.md
/docs/AWCL.md
/docs/AWCR.md
/docs/BAGL.md
/docs/BAGR.md
/docs/BDUL.md
/docs/BDUR.md
/docs/BWM.md
/docs/CA01.md
/docs/CA02.md
/docs/CA03.md
/docs/CA04.md
/docs/CA05.md
/docs/CA06.md
/docs/CA07.md
/docs/CA08.md
/docs/CA09.md
/docs/CANL.md
/docs/CANR.md
/docs/CEMDL.md
/docs/CEMDR.md
/docs/CEMVL.md
/docs/CEMVR.md
/docs/CEPDL.md
/docs/CEPDR.md
/docs/CEPVL.md
/docs/CEPVR.md
/docs/CEPshDL.md
/docs/CEPshDR.md
/docs/CEPshVL.md
/docs/CEPshVR.md
/docs/CP01.md
/docs/CP02.md
/docs/CP03.md
/docs/CP04.md
/docs/CP05.md
/docs/CP06.md
/docs/CP07.md
/docs/CP08.md
/docs/CP09.md
/docs/DA1.md
/docs/DA2.md
/docs/DA3.md
/docs/DA4.md
/docs/DA5.md
/docs/DA6.md
/docs/DA7.md
/docs/DA8.md
/docs/DA9.md
/docs/DB1.md
/docs/DB2.md
/docs/DB3.md
/docs/DB4.md
/docs/DB5.md
/docs/DB6.md
/docs/DB7.md
/docs/DD1.md
/docs/DD2.md
/docs/DD3.md
/docs/DD4.md
/docs/DD5.md
/docs/DD6.md
/docs/DVA.md
/docs/DVB.md
/docs/DVC.md
/docs/DVE.md
/docs/DVF.md
/docs/DX1.md
/docs/DX2.md
/docs/DX3.md
/docs/EF1.md
/docs/EF2.md
/docs/EF3.md
/docs/FLPL.md
/docs/FLPR.md
/docs/GLRDL.md
/docs/GLRDR.md
/docs/GLRL.md
/docs/GLRR.md
/docs/GLRVL.md
/docs/GLRVR.md
/docs/HOA.md
/docs/HOB.md
/docs/HSNL.md
/docs/HSNR.md
/docs/I1L.md
/docs/I1R.md
/docs/I2L.md
/docs/I2R.md
/docs/I3.md
/docs/I4.md
/docs/I5.md
/docs/I6.md
/docs/IL1DL.md
/docs/IL1DR.md
/docs/IL1L.md
/docs/IL1R.md
/docs/IL1VL.md
/docs/IL1VR.md
/docs/IL2DL.md
/docs/IL2DR.md
/docs/IL2L.md
/docs/IL2R.md
/docs/IL2VL.md
/docs/IL2VR.md
/docs/LUAL.md
/docs/LUAR.md
/docs/M1.md
/docs/M2L.md
/docs/M2R.md
/docs/M3L.md
/docs/M3R.md
/docs/M4.md
/docs/M5.md
/docs/MANAL.md
/docs/MCL.md
/docs/MCML.md
/docs/MCMR.md
/docs/MCR.md
/docs/MDL01.md
/docs/MDL02.md
/docs/MDL03.md
/docs/MDL04.md
/docs/MDL05.md
/docs/MDL06.md
/docs/MDL07.md
/docs/MDL08.md
/docs/MDL09.md
/docs/MDL10.md
/docs/MDL11.md
/docs/MDL12.md
/docs/MDL13.md
/docs/MDL14.md
/docs/MDL15.md
/docs/MDL16.md
/docs/MDL17.md
/docs/MDL18.md
/docs/MDL19.md
/docs/MDL20.md
/docs/MDL21.md
/docs/MDL22.md
/docs/MDL23.md
/docs/MDL24.md
/docs/MDR01.md
/docs/MDR02.md
/docs/MDR03.md
/docs/MDR04.md
/docs/MDR05.md
/docs/MDR06.md
/docs/MDR07.md
/docs/MDR08.md
/docs/MDR09.md
/docs/MDR10.md
/docs/MDR11.md
/docs/MDR12.md
/docs/MDR13.md
/docs/MDR14.md
/docs/MDR15.md
/docs/MDR16.md
/docs/MDR17.md
/docs/MDR18.md
/docs/MDR19.md
/docs/MDR20.md
/docs/MDR21.md
/docs/MDR22.md
/docs/MDR23.md
/docs/MDR24.md
/docs/MI.md
/docs/MVL01.md
/docs/MVL02.md
/docs/MVL03.md
/docs/MVL04.md
/docs/MVL05.md
/docs/MVL06.md
/docs/MVL07.md
/docs/MVL08.md
/docs/MVL09.md
/docs/MVL10.md
/docs/MVL11.md
/docs/MVL12.md
/docs/MVL13.md
/docs/MVL14.md
/docs/MVL15.md
/docs/MVL16.md
/docs/MVL17.md
/docs/MVL18.md
/docs/MVL19.md
/docs/MVL20.md
/docs/MVL21.md
/docs/MVL22.md
/docs/MVL23.md
/docs/MVR01.md
/docs/MVR02.md
/docs/MVR03.md
/docs/MVR04.md
/docs/MVR05.md
/docs/MVR06.md
/docs/MVR07.md
/docs/MVR08.md
/docs/MVR09.md
/docs/MVR10.md
/docs/MVR11.md
/docs/MVR12.md
/docs/MVR13.md
/docs/MVR14.md
/docs/MVR15.md
/docs/MVR16.md
/docs/MVR17.md
/docs/MVR18.md
/docs/MVR19.md
/docs/MVR20.md
/docs/MVR21.md
/docs/MVR22.md
/docs/MVR23.md
/docs/MVR24.md
/docs/MVULVA.md
/docs/NSML.md
/docs/NSMR.md
/docs/OLLL.md
/docs/OLLR.md
/docs/OLQDL.md
/docs/OLQDR.md
/docs/OLQVL.md
/docs/OLQVR.md
/docs/PCAL.md
/docs/PCAR.md
/docs/PCBL.md
/docs/PCBR.md
/docs/PCCL.md
/docs/PCCR.md
/docs/PDA.md
/docs/PDB.md
/docs/PDC.md
/docs/PDEL.md
/docs/PDER.md
/docs/PGA.md
/docs/PHAL.md
/docs/PHAR.md
/docs/PHBL.md
/docs/PHBR.md
/docs/PHCL.md
/docs/PHCR.md
/docs/PHDL.md
/docs/PHDR.md
/docs/PLML.md
/docs/PLMR.md
/docs/PLNL.md
/docs/PLNR.md
/docs/PQR.md
/docs/PVCL.md
/docs/PVCR.md
/docs/PVDL.md
/docs/PVDR.md
/docs/PVM.md
/docs/PVNL.md
/docs/PVNR.md
/docs/PVPL.md
/docs/PVPR.md
/docs/PVQL.md
/docs/PVQR.md
/docs/PVR.md
/docs/PVT.md
/docs/PVV.md
/docs/PVWL.md
/docs/PVWR.md
/docs/PVX.md
/docs/PVY.md
/docs/PVZ.md
/docs/R1AL.md
/docs/R1AR.md
/docs/R1BL.md
/docs/R1BR.md
/docs/R1shL.md
/docs/R1shR.md
/docs/R1stL.md
/docs/R1stR.md
/docs/R2AL.md
/docs/R2AR.md
/docs/R2BL.md
/docs/R2BR.md
/docs/R2shL.md
/docs/R2shR.md
/docs/R2stL.md
/docs/R2stR.md
/docs/R3AL.md
/docs/R3AR.md
/docs/R3BL.md
/docs/R3BR.md
/docs/R3shL.md
/docs/R3shR.md
/docs/R3stL.md
/docs/R3stR.md
/docs/R4AL.md
/docs/R4AR.md
/docs/R4BL.md
/docs/R4BR.md
/docs/R4shL.md
/docs/R4shR.md
/docs/R4stL.md
/docs/R4stR.md
/docs/R5AL.md
/docs/R5AR.md
/docs/R5BL.md
/docs/R5BR.md
/docs/R5shL.md
/docs/R5shR.md
/docs/R5stL.md
/docs/R5stR.md
/docs/R6AL.md
/docs/R6AR.md
/docs/R6BL.md
/docs/R6BR.md
/docs/R6shL.md
/docs/R6shR.md
/docs/R6stL.md
/docs/R6stR.md
/docs/R7AL.md
/docs/R7AR.md
/docs/R7BL.md
/docs/R7BR.md
/docs/R7shL.md
/docs/R7shR.md
/docs/R7stL.md
/docs/R7stR.md
/docs/R8AL.md
/docs/R8AR.md
/docs/R8BL.md
/docs/R8BR.md
/docs/R8shL.md
/docs/R8shR.md
/docs/R8stL.md
/docs/R8stR.md
/docs/R9AL.md
/docs/R9AR.md
/docs/R9BL.md
/docs/R9BR.md
/docs/R9shL.md
/docs/R9shR.md
/docs/R9stL.md
/docs/R9stR.md
/docs/RIAL.md
/docs/RIAR.md
/docs/RIBL.md
/docs/RIBR.md
/docs/RICL.md
/docs/RICR.md
/docs/RID.md
/docs/RIFL.md
/docs/RIFR.md
/docs/RIGL.md
/docs/RIGR.md
/docs/RIH.md
/docs/RIML.md
/docs/RIMR.md
/docs/RIPL.md
/docs/RIPR.md
/docs/RIR.md
/docs/RIS.md
/docs/RIVL.md
/docs/RIVR.md
/docs/RMDDL.md
/docs/RMDDR.md
/docs/RMDL.md
/docs/RMDR.md
/docs/RMDVL.md
/docs/RMDVR.md
/docs/RMED.md
/docs/RMEL.md
/docs/RMER.md
/docs/RMEV.md
/docs/RMFL.md
/docs/RMFR.md
/docs/RMGL.md
/docs/RMGR.md
/docs/RMHL.md
/docs/RMHR.md
/docs/SAADL.md
/docs/SAADR.md
/docs/SAAVL.md
/docs/SAAVR.md
/docs/SABD.md
/docs/SABVL.md
/docs/SABVR.md
/docs/SDQL.md
/docs/SDQR.md
/docs/SIADL.md
/docs/SIADR.md
/docs/SIAVL.md
/docs/SIAVR.md
/docs/SIBDL.md
/docs/SIBDR.md
/docs/SIBVL.md
/docs/SIBVR.md
/docs/SMBDL.md
/docs/SMBDR.md
/docs/SMBVL.md
/docs/SMBVR.md
/docs/SMDDL.md
/docs/SMDDR.md
/docs/SMDVL.md
/docs/SMDVR.md
/docs/SPCL.md
/docs/SPCR.md
/docs/SPDL.md
/docs/SPDR.md
/docs/SPVL.md
/docs/SPVR.md
/docs/URADL.md
/docs/URADR.md
/docs/URAVL.md
/docs/URAVR.md
/docs/URBL.md
/docs/URBR.md
/docs/URXL.md
/docs/URXR.md
/docs/URYDL.md
/docs/URYDR.md
/docs/URYVL.md
/docs/URYVR.md
/docs/VA1.md
/docs/VA10.md
/docs/VA11.md
/docs/VA12.md
/docs/VA2.md
/docs/VA3.md
/docs/VA4.md
/docs/VA5.md
/docs/VA6.md
/docs/VA7.md
/docs/VA8.md
/docs/VA9.md
/docs/VB1.md
/docs/VB10.md
/docs/VB11.md
/docs/VB2.md
/docs/VB3.md
/docs/VB4.md
/docs/VB5.md
/docs/VB6.md
/docs/VB7.md
/docs/VB8.md
/docs/VB9.md
/docs/VC1.md
/docs/VC2.md
/docs/VC3.md
/docs/VC4.md
/docs/VC5.md
/docs/VC6.md
/docs/VD1.md
/docs/VD10.md
/docs/VD11.md
/docs/VD12.md
/docs/VD13.md
/docs/VD2.md
/docs/VD3.md
/docs/VD4.md
/docs/VD5.md
/docs/VD6.md
/docs/VD7.md
/docs/VD8.md
/docs/VD9.md
/docs/ailL.md
/docs/ailR.md
/docs/aobL.md
/docs/aobR.md
/docs/bm.md
/docs/cdlL.md
/docs/cdlR.md
/docs/dglL1.md
/docs/dglL2.md
/docs/dglL3.md
/docs/dglL4.md
/docs/dglL5.md
/docs/dglL6.md
/docs/dglL7.md
/docs/dglR1.md
/docs/dglR2.md
/docs/dglR3.md
/docs/dglR4.md
/docs/dglR5.md
/docs/dglR6.md
/docs/dglR7.md
/docs/dglR8.md
/docs/dspL.md
/docs/dspR.md
/docs/dsrL.md
/docs/dsrR.md
/docs/e2D.md
/docs/e2DL.md
/docs/e2DR.md
/docs/e2V.md
/docs/e2VL.md
/docs/e2VR.md
/docs/e3D.md
/docs/e3VL.md
/docs/e3VR.md
/docs/exc_cell.md
/docs/exc_gl.md
/docs/g1AL.md
/docs/g1AR.md
/docs/g1p.md
/docs/g2L.md
/docs/g2R.md
/docs/gecL.md
/docs/gecR.md
/docs/gonad.md
/docs/grtL.md
/docs/grtR.md
/docs/hmc.md
/docs/hyp.md
/docs/int.md
/docs/mc1DL.md
/docs/mc1DR.md
/docs/mc1V.md
/docs/mc2DL.md
/docs/mc2DR.md
/docs/mc2V.md
/docs/mc3DL.md
/docs/mc3DR.md
/docs/mc3V.md
/docs/mu_anal.md
/docs/mu_intL.md
/docs/mu_intR.md
/docs/mu_sph.md
/docs/pilL.md
/docs/pilR.md
/docs/pm1.md
/docs/pm2D.md
/docs/pm2VL.md
/docs/pm2VR.md
/docs/pm3D.md
/docs/pm3VL.md
/docs/pm3VR.md
/docs/pm4D.md
/docs/pm4VL.md
/docs/pm4VR.md
/docs/pm4_UNSPECIFIED.md
/docs/pm5D.md
/docs/pm5VL.md
/docs/pm5VR.md
/docs/pm6D.md
/docs/pm6VL.md
/docs/pm6VR.md
/docs/pm7D.md
/docs/pm7VL.md
/docs/pm7VR.md
/docs/pm8.md
/docs/pobL.md
/docs/pobR.md
/docs/polL.md
/docs/polR.md
/docs/proctodeum.md
/docs/um1AL.md
/docs/um1AR.md
/docs/um1PL.md
/docs/um1PR.md
/docs/um2AL.md
/docs/um2AR.md
/docs/um2PL.md
/docs/um2PR.md
/docs/vm1AL.md
/docs/vm1AR.md
/docs/vm1PL.md
/docs/vm1PR.md
/docs/vm2AL.md
/docs/vm2AR.md
/docs/vm2PL.md
/docs/vm2PR.md
/docs/vspL.md
/docs/vspR.md
/docs/vsrL.md
/docs/vsrR.md
/docs/Brittin*_data*.md
/docs/assets/Brittin2021*
/docs/*_Brittin2021_data*.md
/clean.sh
/docs/assets/Test_Nonpharyngeal_Chemical_Exc.json
/docs/assets/Test_Nonpharyngeal_Chemical_Exc.png
/docs/assets/Test_Nonpharyngeal_Chemical_Exc_graph.json
/docs/assets/Test_Nonpharyngeal_Chemical_Exc_graph.png
/docs/assets/Test_Nonpharyngeal_Chemical_Exc_hiveplot.json
/docs/assets/Test_Nonpharyngeal_Chemical_Exc_hiveplot.png
/docs/assets/Test_Nonpharyngeal_Chemical_Inh.json
/docs/assets/Test_Nonpharyngeal_Chemical_Inh.png
/docs/assets/Test_Nonpharyngeal_Chemical_Inh_graph.json
/docs/assets/Test_Nonpharyngeal_Chemical_Inh_graph.png
/docs/assets/Test_Nonpharyngeal_Chemical_Inh_hiveplot.json
/docs/assets/Test_Nonpharyngeal_Chemical_Inh_hiveplot.png
/docs/assets/Test_Nonpharyngeal_Electrical.json
/docs/assets/Test_Nonpharyngeal_Electrical.png
/docs/assets/Test_Nonpharyngeal_Electrical_graph.json
/docs/assets/Test_Nonpharyngeal_Electrical_graph.png
/docs/assets/Test_Nonpharyngeal_Electrical_hiveplot.json
/docs/assets/Test_Nonpharyngeal_Electrical_hiveplot.png
