name: Non-OMV-tests

on:
  push:
    branches: [ main, development, experimental, ow* ]
  pull_request:
    branches: [ main, development, experimental, ow* ]

jobs:
  build:

    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:        
        runs-on: [ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ 3.8, 3.9, "3.11" ]
        exclude:
          - runs-on: macos-latest
            python-version: "3.8"

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python  ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version:  ${{ matrix.python-version }}

    - name: Install HDF5 for pytables on macos-latest
      if: ${{ matrix.runs-on == 'macos-latest' }}
      run: |
        brew install hdf5
        
        
    - name: Install package
      run: |
        pip install .
        pip list
        
        
    - name: Run test script
      run: |
        ./test.sh
        
    - name: Final version info
      run: |
        pip list
        env
